@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
}
.questionario{
    background-color: aliceblue;
    justify-content: center;
    position: relative;
    display: inline-block;
    width: 90px;
    padding-left: 90vh;
}
hr{
    border-color: black;
    height: 2px;
    background-color: black;
}
header{
    background-color: red;
}
input, textarea{
    display: flex;
    border-color: red;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}
label{
    display: flex;
    padding-right: 30px;
    font-family: 'Open Sans', sans-serif;
}
.botao_ant{
    padding: 6px 4px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Open sans', sans-serif;
    margin-left: 2vh;
    
}
h1{
    font-family: 'Open Sans', sans-serif;
}
footer{
    height: 10vh;
    font-family: 'Open Sans', sans-serif;
    background-color: red;
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
hr{
    border-color: black;
    height: 2px;
    background-color: black;
    padding-left: 50vh;
}
h2{
    font-family: 'Open Sans', sans-serif;
    padding-left: 3vh;
}
